.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    height: 150px;
    color: #fff;
    z-index: 10; /* Increase the z-index to ensure it's on top */
}

.footer span {
    font-weight: bold;
}