@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    
}



.title {
    color: #ffffff;
    text-align: center;
    font-size: 3em;
    margin-right: .4em;
    margin-top: 1em;
    font-family: 'Pokemon Solid', sans-serif;
                                                
}

.bola {
    margin-top: 3em;

}
.title span {
    color: #333;
    font-family: 'Pokemon Solid', sans-serif;
    margin-left: .2em;
}

.poke_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}



.center_line{
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 150px;
    background-color: #000000;
    z-index: 1;
}

.first_circle{
    position: fixed;
    margin: auto;
    left: -250px;
    top: 0;
    bottom: 0;
    width: 500px;
    height: 500px;
    border-radius: 40%;
    background-color: #000000;
    z-index: 0;

}

.white_pokeball{
    position: fixed;
    margin: auto;
    left: -150px;
    top: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #ffffff;
    z-index: 1;

}
.line_pokeball{
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 30px;
    background-color: #000000;
    z-index: 1;

}

.pokeball_circle_one{
    position: fixed;
    margin: auto;
    left: -35px;
    top: 0;
    bottom: 0;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #000000;
    z-index: 1;

}

.pokeball_circle_two{
    position: fixed;
    margin: auto;
    left: -25px;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ffffff;
    z-index: 1;

}

.right_button_one{
    position: fixed;
    margin: auto;
    right: 150px;
    top: 0;
    bottom: 40px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ffffff;
    z-index: 1;

}

.right_button_two{
    position: fixed;
    margin: auto;
    right: 220px;
    top: 40px;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ffffff;
    z-index: 1;

}

.t {
    background-color: #E33D33;
}

@media(max-width: 769px) {
    .poke_container {
        display: grid;
        grid-template-columns: repeat(2, 4fr); /* Creates 4 equal-width columns */
    }
}

@media(max-width: 426px) {
    .right_button_one, .right_button_two {
        display: none;
    }
    .title_container {
        position: relative;
        
    }
    
}